@font-face {
	font-family: 'Microsoft regular';
	src: url('../../assets/microsoftsansserif.ttf');
}

@font-face {
	font-family: 'Intel medium';
	src: url('../../assets/FontsFree-Net-Inter-Medium.ttf');
}

.navigation {
	display: flex;
	flex-direction: row;
}

.disabledText {
	color: #999999;
	font-family: 'Microsoft regular';
	margin-left: 12px;
}

.activePage {
	font-family: 'Microsoft regular';
}

.coursesContainer {
	margin-left: 15%;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Intel medium';
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-bottom: 80px;
}

.searchInput {
	height: 50px;
	border-radius: 12px;
	border: 1px solid #999999;
	width: 1100px;
	font-family: 'Microsoft regular',
}

.coursesTiles {
	display: grid;
	columns: repeat(510px, 2);
	column-gap: 20px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350px;
	height: 450px;
	padding: 30px;
	border-radius: 8%;
	box-shadow:  0px 0px 20px 10px #ccc;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 40px;
	width: 1550px;
	justify-content: space-between;
}

.question { font-family: 'Intel medium';
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
}

.skills {
	font-family: 'Intel medium';
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1px;
}

textarea {
	border-radius: 12px;
	font-family: 'Intel medium';
	font-size: 14px;
	height: 80px;
}

.primaryButton {
	background-color: #8D46F6;
	color: #FFFFFF;
	border-radius:  12px;
	height: 40px;
	font-family: 'Intel medium';
	font-size: 16px;
}

.greyText {
	text-align: center;
	font-family: 'Intel medium';
	color: #999999
}